.FilterValue
  h4
    margin-bottom .5rem

  input
    line-height: 2rem
    border 1px solid #ddd
    border-radius 4px
    display: inline-block
    width: 100%
    padding 0 0 0 .5rem
    font-size 16px