.FilterBoolean
  display: flex
  line-height: 3rem
  margin-bottom 1rem
  align-items: center
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;

  input
    display: none

  label
    position: absolute
    width: 100%
    height: 100%
    top: 0
    left: 1rem
    z-index 100
    cursor: pointer

   input + label::before
    content ''
    display: inline-block
    vertical-align: middle
    width: 1.2rem
    height: 1.2rem
    margin-right 1rem
    border 3px solid #888
    box-shadow 0 0 0 0 transparent inset
    background: #fff
    transition: all .4s ease

  input:checked + label:before
    border 3px solid #ffc000
    box-shadow 0 0 0 3px #fff inset
    background: #ffc000

  span
    padding-left 3.5rem
    font-size 1rem