.ViewTransport
  margin 1.5rem 0

.top
  background: #fff
  border-radius 6px 6px 0 0
  border 1px solid #ddd
  border-bottom 1px solid #eee
  padding 0 1.5rem
  line-height: 3rem
  display: flex
  align-items: center
  justify-content: space-between


.bookmark
  background: #fff
  border none
  line-height: 1.2rem
  color #323232
  border-bottom 1px solid #ddd
  display: flex
  align-items: center
  padding 0
  font-weight 600
  cursor: pointer
  
  &::before
    content ''
    display: inline-block
    margin-right .5rem
    width: 1rem
    height: 1.4rem
    background: url('/img/icons/top-bookmark.svg') no-repeat center

.content
  padding 1.5rem
  background: #fff
  border 1px solid #ddd
  border-top none
  border-radius 0 0 6px 6px


.photo
  width: 100%
  display: flex
  align-items: center
  flex-wrap: wrap
  justify-content: space-between
  margin-bottom 1.5rem

  img
    width: 45%
    margin-bottom: 1.4rem

  img:first-child
    display: inline-block
    max-width 100%
    width 100%
    max-height 16rem


.info
  h1
    font-size 1.5rem
    margin: 0
    color #323232
    line-height: 3rem

  address
    color #666
    font-size 14px
    line-height: 1.5rem
    font-style initial
    margin-bottom 1.5rem

    &::before
      content ''
      display: inline-block
      vertical-align: middle
      width: 1rem
      height: 1rem
      background: url('/img/icons/address-label.svg') no-repeat center
      background-size: auto 14px
      margin-right .5rem

  p
    line-height: 1.5rem
    font-size 1rem
    color #323232
    margin: 1rem 0
    padding 1rem 0
    border-top 1px solid #ddd

.priceGroup
  display: flex
  align-items: center
  flex-wrap nowrap

.price
  display: inline-block
  background: #fbfaf2
  padding .5rem 3rem .5rem 1.5rem
  margin-left -1.5rem
  margin-right 1.5rem

  span
    display: block
    line-height: 2rem
    font-size 12px
    color rgba(0,0,0,.5)

    b
      font-size 1rem
      color #323232

.params
  display: flex
  flex-wrap wrap
  align-items: flex-start
  justify-content: space-between
  border-top 1px solid #eee

  h3
    margin 0
    line-height 3rem

  .paramGroup
    width: 50%
    margin 0 0 1.5rem 0

.specs
  width: 100%

  label
    font-size 12px
    color #888
    line-height: 1.5rem

  button
    float right
    background: transparent
    border none
    font-size 14px
    font-weight bold
    color #ffc000
    line-height: 1.5rem
    padding 0
    cursor: pointer
    border-bottom 1px solid transparent
    transition all .2s ease

    &:hover
      color #db9316
      border-bottom 1px solid #db9316

.parameters
  margin 0 0 .5rem 0
  padding: 0
  width: 100%
  display: flex
  align-items: flex-start
  flex-wrap: wrap
  justify-content: space-between

  li
    display: flex
    width: 46%
    align-items: center
    justify-content: space-between
    line-height: 1.5rem
    font-size 14px
    border-bottom 1px solid #eee


.paramGroup
  display: inline-block
  margin 0 0 .5rem 0

  label
    font-size 12px
    color #888
    line-height: 1.5rem

  span
    display: block
    line-height: 1.5rem
    font-size 1rem
    color #323232
    font-weight bold

.owner
  margin 1.5rem 0

.ownerPhone
  display: inline-block
  font-size 14px
  font-weight bold
  color #323232
  background: #f6d672
  cursor: pointer
  padding 0 1.5rem
  line-height: 2.5rem
  border none
  border-radius 4px
  margin-top 1.5rem
  margin-left 3rem