.AdActions
  margin-top 1.5rem
  border-radius 6px
  overflow: hidden
  background: #fff
  box-shadow 0 0 1rem rgba(0,0,0,.09)
  line-height: 2rem

  h5
    margin: 0
    text-align: center
    font-weight 500
    line-height: 3rem
    font-size 0.8rem


  nav
    list-style: none
    margin: 0
    padding: 0

    a
      width: 100%
      border-top 1px solid #eeeeee
      line-height: 3rem
      font-size 0.9rem
      display: flex
      align-items: center
      text-decoration: none
      color #323232
      padding 0 0 0 .5rem
      background: transparent
      transition all .4s ease
      cursor: pointer

      i
        display: inline-block
        min-width 3rem
        text-align: center
        line-height: 0
        
      &:hover
        color #111
        background: #fafafa

      &.inactive
      &.inactive:hover
        cursor: "not-allowed"
        opacity .3
        background: transparent