@keyframes fadeIn
  from
    opacity 0
  to
    opacity 1

.Preview
  padding 1.5rem
  border-bottom 1px solid #eee
  animation fadeIn .6s ease-in

  &.vip
    box-shadow 0 0 0 4px #ffc000 inset


.image
  overflow: hidden
  line-height: 0

  +xs()
    text-align: center

  img
    max-width: 100%

    +xs()
      max-width: auto;
      height 100px

.title
  display: flex
  align-items: center
  justify-content: space-between
  flex-wrap: wrap

  h4
    margin: 0
    color: #db9316
    line-height: 1.5rem
    font-size 18px

  p
    flex: none
    width: 100%
    font-size 14px
    line-height: 1.5
    margin 1rem 0

.bookmark
  display: block
  width: 1.5rem
  height: 1rem
  background: url('/img/icons/top-bookmark.svg') no-repeat right center
  background-size auto 100%
  opacity .7
  transition all .4s ease
  cursor: pointer
  border none
  padding 0
  padding-left .5rem
  border-left 1px solid #ddd
  margin-left .5rem

  &:hover
    opacity: 1

.bookmarkActive
  @extends .bookmark
  background: url('/img/icons/top-bookmark-active.svg') no-repeat right center

.fetchingBm
  @extends .bookmark
  opacity .3 !important

.actions
  width: 20%
  display: flex
  align-items: center
  justify-content: flex-end


.parameters
  margin 1.5rem 0
  padding: 0
  width: 100%

  li
    display: flex
    align-items: center
    justify-content: space-between
    line-height: 1.5rem
    font-size 14px
    border-bottom 1px solid #eee

    &:last-child
      border-bottom none


.extra
  display: flex
  align-items: center
  justify-content: space-between

  +xs()
    flex-wrap wrap

  address
    color #666
    font-size 14px
    line-height: 2rem
    font-style normal

    &::before
      content ''
      display: inline-block
      vertical-align: middle
      width: 1rem
      height: 1rem
      background: url('/img/icons/address-label.svg') no-repeat center
      background-size: auto 14px
      margin-right .5rem


  a
    display: inline-block
    padding 0 1.5rem
    line-height: 2.5rem
    font-size 1rem
    font-weight bold
    background: #f7f7f7
    color #323232
    border-radius 4px
    text-decoration: none
    transition all .4s ease
    box-shadow 0 0 0 rgba(0,0,0,0)

    +xs()
      display: block
      width: 100%
      text-align: center

    &:hover
      background: #ffc000
      box-shadow 0 0 16px rgba(0,0,0,.09)


.info
  display: flex
  align-items: flex-start

  +xs()
    flex-wrap: wrap


.prices
  background: #fbfaf2
  padding .5rem 1.5rem
  width: 40%
  margin 1rem 0
  margin-left 2rem
  margin-right -1.5rem
  right 4px
  font-size 14px
  line-height: 1.5rem

  +xs()
    width: 100%
    margin-left auto
    margin-right auto