.MainLinks
  display: block

  h2
    line-height: 1.5
    margin: 0

    +xs()
      font-size 16px

    a
      color #342525
      text-decoration: none
      transition color .2s ease
      font-size 24px

      +xs()
        font-size 18px

      &:hover
        color #d84024

.MobileLinks
  text-align: right
  padding-top 8rem

  +xs()
    padding 1rem 0
    text-align: left
    width: 100%

  > img
    position: absolute
    bottom 2rem
    right -70px

    +xs()
      display: none

  a
    display: inline-block
    margin .5rem 0 0 .5rem

    +xs()
      margin: .5rem 4px 0 0

.linkGroup
  margin-bottom 3rem

  +xs()
    margin-bottom 24px

  > a
    display: inline-block
    margin-right .75rem
    font-size 0.8rem
    color #a5a5a5
    text-decoration: none
    transition all .2s ease
    border-bottom 1px solid transparent

    &:hover
      color #222
      border-bottom 1px solid #222

  &.inactive
    opacity: .3
    cursor: not-allowed

    h2 a:hover
      color: #342525

    a:hover
      color: #a5a5a5
      border-bottom 1px solid transparent