// breakpoints by width
xs()
  @media screen and (max-width: bp_xs-sm - 1)
    {block}
sm()
  @media screen and (max-width: bp_xs-sm)
    {block}
md()
  @media screen and (max-width: bp_sm-md)
    {block}
lg()
  @media screen and (max-width: bp_md-lg)
    {block}



// breakpoints by height
vh-sqr()
  @media screen and (max-height: bp-v_sqr-full)
    {block}

vh-hd()
  @media screen and (max-height: bp-v_hd-full)
    {block}

vh-mid()
  @media screen and (max-height: bp-v_mid-hd)
    {block}

vh-small()
  @media screen and (max-height: bp-v_mid)
    {block}




// Any value by width
below(value)
  @media (max-width: value)
    {block}

above(value)
  @media (min-width: value)
    {block}

between(min=0px, max=2560px)
  @media (min-width: min) and (max-width: max)
    {block}



// Any value by height
below-height(value)
  @media (max-height: value)
    {block}

above-height(value)
  @media (min-height: value)
    {block}

between-height(min=0px, max=2560px)
  @media (min-height: min) and (max-height: max)
    {block}


circle(size)
  width size
  height size
  min-width size
  min-height size
  border-radius 50%


button()
  background: gray-1
  color: text
  font-size: normal
  font-weight: bold
  padding: unit cell
  text-align: center
  display: inline-block
  border-radius 4px
  border: none

  &:hover
    background: gray
    text: text

mainLayout-1()
  width: 100%
  height: 100vh
  background: gray-2

mainLayout-2()
  width: 100%
  height: 100vh
  background: gray-2
  display: flex
  flex-direction: row

  @media screen and (max-width: 1100px)
    flex-direction: column

  .main
    width: mainWidth
    min-width: mainWidth
    height: 100vh
    background: yellow

    @media screen and (max-width: 1100px)
      width: 100%
      min-width: 100%
      height: 50vh

  .side
    width: 100% - mainWidth
    min-width: 100% - mainWidth
    height: 100vh
    background: green

    @media screen and (max-width: 1100px)
      width: 100%
      min-width: 100%
      height: 50vh
