// Colors
accent = #ffc600
paleAccent = #fffeb3

// Dark colors
black = #202025
black-1 = #25252a
black-2 = #28282e
black-hover = #36363c


// Gray colors
gray = #b1b1b1
gray-1 = #e3e3e3
gray-2 = #f7f7f7


// Text colors
text-deepblue = #2f333a
text-pale = #464a4e
text-pale-1 = #6e6e73
text-gray = #7f7f8c
text-gray-1 = #afafaf
text-gray-2 = #c2c2c2


// Text sizes
title = 24px
bigger = 22px
big = 20px
mid = 18px
normal = 16px
small = 14px
smallest = 12px


// Layout sizes
point = 5px
unit = 10px
cell = 20px

mainWidth = 65%


// Breakpoints
bp_xs-sm = 768px
bp_sm-md = 980px
bp_md-lg = 1200px

// viewport height - 120px
bp-v_sqr-full = 900px // 1280 x 1024 - 1920 x 1080
bp-v_hd-full  = 780px // 1600 x 900  - 1920 x 1080
bp-v_mid-hd   = 648px // 1366 x 768  - 1600 x 900
bp-v_mid      = 600px // 1280 x 720  - 1366 x 768


// Transitions
time = .4s
cubic = cubic-bezier(.8,.2,.2,.8)

transit-ease =
  transition all time ease

transit-ease-slow =
  transition all time*2 ease

transit-cubic =
  transition all time cubic

transit-cubic-slow =
  transition all time*2 cubic