.MobileAppSplash
  position: fixed
  z-index 9999
  bottom: 0
  left: 0
  width: 100%
  height: 50%
  background: #fafafa
  box-shadow: 0px -60px 120px rgba(0,0,0,.1)
  color: #222
  text-align: center
  padding 1rem
  display: flex
  flex-direction: column
  align-items: center
  justify-content: space-around
  
.MobileLinks
  display: block
  width: 100%
  a
    display: inline-block
    width: 50%

    img
      width: 100%

.close
  display: block
  width: 100%
  line-height: 4rem
  background: #222
  color #fff