nav.Pagination
  display: block
  width: 100%
  text-align: right
  padding 1.5rem 0

  a
    display: inline-block
    width: 2rem
    height: 2rem
    background: #fff
    border-radius: 4px
    color #323232
    text-align: center
    line-height: 2rem
    text-decoration: none
    margin-left .5rem
    box-shadow 0 0 16px rgba(0,0,0,.09)

    &:hover
    &:focus
      background: #ffc000
      color #323232
      text-decoration: none

    &:hover.activeLink
    &:focus.activeLink
    &.activeLink
      background: #323232
      color #fff
