.Footer
  background: #323232 url(/img/footer_bg.png) no-repeat 90% top
  padding 1.5rem 0
  box-shadow 0 100px 0 #323232, 0 200px 0 #323232

  span
    font-size 14px
    line-height: 1.5rem
    color #696969

    a
      color #878787
      text-decoration: none

      &:hover
        color #adadad

  nav a
    display: inline-block
    margin-right 1rem
    color #fedb60
    text-decoration: none
    font-size 12px
    line-height: 1.5rem
    border-bottom 1px solid transparent
    transition all .2s ease

    &:hover
      color #ffc000
      border-bottom 1px solid #ffc000
