.Filter
  display: block

  > button
    display: block
    width: 100%
    border none
    border-radius 4px
    align-items: center
    line-height: 3rem
    background: #ffc000
    color: #323232
    font-size 1rem
    font-weight bold
    margin-top 1.5rem
    cursor: pointer

  select
    margin-top: .5rem
    position: relative
    display: block
    width: 100%
    padding 0 1.5rem 0 1rem
    background: #fff url(/img/icons/ddarrow.svg) no-repeat 95% center
    border 1px solid #dddddd
    border-radius 4px
    font-size 1rem
    line-height: 3rem
    -webkit-appearance: none
    -moz-appearance: none
    appearance: none
    cursor: pointer
    color: #222

.rangeInputs
  display: flex
  align-items: center
  justify-content space-between
  margin-top 1.5rem

  input
    line-height: 2rem
    border 1px solid #ddd
    border-radius 4px
    display: inline-block
    width: 45%
    padding 0 0 0 .5rem
    font-size 16px



.CustomFilters
  button
    width: 100%
    border none
    line-height 3rem
    border-radius: 4px
    box-shadow: 0 0 6px rgba(0,0,0,.09)
    font-size 14px
    background: #fff url(/img/icons/filter.svg) no-repeat 1rem center
    background-size: auto 1rem
    padding 0 2.5rem
    text-align: left
    color: #444

    span
      position: absolute
      top: 0
      right: 0
      width: 3rem
      height: 100%
      text-align: center
      line-height: 3rem
      font-size 2rem
      transition all .3s ease

      &.opened
        transform rotate(45deg)