.MainService
  background: #3b3b3b
  padding 1.5rem 0
  box-shadow: 0 100px 0 #3b3b3b;

  +xs()
    display: none

.item

  &::after
    content ''
    position: absolute
    top: .5rem
    right .5rem
    width: 2rem
    height: 2rem
    background: transparent url(/img/icons/popular-arrow.svg) no-repeat top right;
    background-size: 2rem auto

  img
    max-width 100%

.info
  position: absolute
  bottom 0
  padding .5rem
  width: 100%

  span
    display: block
    line-height: 1.5rem
    font-size 16px
    color #fedb60
    font-weight bold

    &:last-child
      line-height: 1rem
      font-size 12px
      font-weight 100
      color #fff

    +xs()
      font-size 12px
      font-weight 100

  a
    color #fff
    text-decoration: none
    font-size 14px