article.static {
  padding: 0;
}

.static h1 {
  margin: 0;
  font-size: 2rem;
  line-height: 4rem;
  padding: 0 1.5rem;
}

.static p {
  margin: 1.5rem 0;
  font-size: 1rem;
  line-height: 1.5rem;
  padding: 0 1.5rem;
}