.search
  position: relative
  display: flex
  margin: 1.5rem 0

  +xs()
    display: none

  button
    border none
    background: #fedb60
    text-align: center
    color #323232
    border-radius 4px
    font-size 1rem
    padding 0 2rem
    line-height: 3rem
    margin-left 1.5rem
    font-weight bold

  input[type="text"]
    position: relative
    display: block
    width: 100%
    padding 0 1rem 0 3rem
    background: #fff url(/img/icons/search.svg) no-repeat 1rem center
    border 1px solid #dddddd
    border-radius 4px
    font-size 1rem
    line-height: 3rem
    color #323232

.sidemenu
  margin: 1.5rem 0
  border-radius 4px
  background: #fff;
  overflow: hidden

.link
  display: block
  border-bottom 1px solid #eee

  &:last-child
    border-bottom none

  a
    display: block
    width: 100%
    color: #333
    opacity: .9
    line-height: 3rem
    padding 0 1.5rem
    font-size: 14px
    text-decoration: none
    transition all .4s ease

    b
      color: #000
      opacity 1

  &:hover > a
    color: #000
    opacity 1

.link a.active
  background: #ffc000
  color: #000
  opacity 1


.link nav
  border none
  margin 0 0 1rem 0

  .link
    padding 0
    line-height: 2
    border none
    font-size .8rem


.article
  background: #fff;
  border 1px solid #ddd
  border-radius 4px


.content
  border-top 1px solid #ddd
