.SideBar
  margin-top 1.5rem

  &.fixed
    position: fixed
    top 96px

.mapToggle
  display: block
  width: 100%
  border none
  border-radius 6px
  background: #fff url('/img/icons/main-button-map.svg') no-repeat 1rem center
  appearance none
  text-align: center
  line-height: 3rem
  font-size 1rem
  font-weight bold
  padding-left 3rem
  color #323232
  cursor: pointer
  box-shadow 0 0 16px rgba(0,0,0,.1)
  transition all .4s ease

  &:hover
    background-color: #fff
    box-shadow 0 4px 16px rgba(0,0,0,.15)

  &:disabled
  &:disabled:hover
    box-shadow 0 0 16px rgba(0,0,0,.1)
    color #aaa
    opacity .5
    cursor: not-allowed

.mapActive
  background: #ffc000 url('/img/icons/main-button-map-active.svg') no-repeat 1rem center
  color #000
  
  &:hover
    background-color #ffc000