.User
  width 100%
  display flex
  align-items center
  justify-content flex-end
  flex-wrap wrap
  padding-top 1rem

  +xs()
    text-align: center
    flex-direction row-reverse
    justify-content space-between
    flex-wrap wrap

  a[href*='bookmark']
    font-size 12px
    color #494343
    text-decoration: none

    &:hover
      color #222222
      text-decoration: underline

    &:before
      content ''
      display: inline-block
      position: relative
      top 3px
      margin-right .5rem
      width: 14px
      height: 14px
      background: url(/img/icons/main-bookmark.svg) no-repeat center
      background-size 12px auto

  nav
    display block
    width 100%
    text-align right

    +xs()
      text-align: center

    a
      display inline-block
      font-size 12px
      color #888888
      text-decoration none
      margin-left 1em
      cursor: pointer

      &:first-child
        margin-left 0

      &:hover
        color #222
        text-decoration underline


.userInfo
  position: relative
  display: inline-flex
  align-items: center

  +xs()
    width: 60%

  > button
    background: transparent
    border none
    display: block
    line-height: 1
    font-size 16px
    color #352f2f
    padding 0 0 0 1rem
    border-left 1px solid #ccc
    margin-left 1rem
    text-align: right;

    +xs()
      margin-left 0
      border none
      background: #eeeeee
      border-radius 4px
      line-height: 3
      padding 0 1rem


    &.Active
      .userExtra
        display: block


.userExtra
  display: none
  position: absolute
  width: 140%
  right 0
  top 1rem
  border-radius: 4px
  background: #fff
  box-shadow: 0px 0px 6px rgba(0,0,0,0.1)
  z-index: 2000
  padding: 1rem
  text-align: left

  +xs()
    right auto
    left -1rem

  &:hover
    display: block

  a
    font-size 12px
    font-weight 500
    color #aaa
    line-height: 2
    text-decoration: none
    transition color .4s ease
    display: block

    &:hover
      color #555
      cursor: pointer

  hr
    border none
    background: #eaeaea
    height: 1px

  button
    margin: 0 0 1rem 0
    padding: 0
    border none
    cursor: pointer


.activeLink
  font-weight: bold
  color #db9316

.photo
  height: 1.5rem
  display: flex
  align-items: center
  justify-content: center

  img
    margin-left 1rem
    display: inline-block
    height: 100%


a.newAdButton
  display: inline-block
  vertical-align: middle
  padding 0 1.5rem
  font-size 14px
  font-weight bold
  background: #fedb60
  text-align: center
  line-height: 2rem
  border-radius 0 3rem 3rem 0
  color: #333
  text-decoration: none


.showAuth
  display: inline-block
  font-size 14px
  font-weight bold
  line-height: 2rem
  background: #eee
  padding 0 1.5rem
  border-radius 3rem 0 0 3rem
  position: relative
  top 1px
  cursor: pointer
  transition all .4s ease

  &:hover
    background: #ddd;