.UserProfile
  display block

.photo
  width: 100%
  border-radius 10px
  overflow: hidden
  background: transparent;
  object-fit: cover
  display: flex
  align-items: center
  justify-content: center
  border 4px solid #fff
  box-shadow 0 0 0 2px #ffc000, 0 20px 16px -10px rgba(0,0,0,.2)

  form
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100%

  span
    position: absolute
    bottom 0
    left 0
    width: 100%
    text-align: center
    line-height: 3rem
    font-size 1rem
    color: #fff
    font-weight: bold
    z-index 20

  img
    display: inline-block
    width: 100%

  input
    position: absolute
    opacity 0

  input + label
    position: absolute
    top: 5%
    left: 5%
    width: 90%
    height: 90%
    z-index 10
    border-radius 6px
    background: rgba(0,0,0,.6) url(/img/icons/upload-picture.svg) no-repeat center;
    background-size: auto 4rem
    transform scale(0.9,0.9)
    transition all .4s ease
    opacity 0

    &:hover
      transform scale(1,1)
      opacity 1
      cursor: pointer



.info
  label, input
    display: block

  label
    font-size 14px
    font-weight bold
    line-height: 1.5rem;

  input, button
    width: 20rem;
    margin-bottom 1.5rem
    border-radius 6px
    background: #fff;
    border 1px solid #eee
    padding 0 1.5rem
    line-height: 3rem;
    font-size 1rem
    color: #333


  button
    width: auto;
    border none
    background: #ffc000;
    color: #000
    font-weight bold
    text-align: center
    font-size 14px
