.Menu
  display: block
  background: #3b3b3b
  line-height: 3rem
  z-index 1000

  &.fixed
    position: fixed
    top 0

  a
    text-decoration: none

  nav
    display: flex
    align-items: center
    justify-content: space-between

    +xs()
      flex-wrap: wrap
      align-items: center

    a
      display: inline-block
      color #eee
      font-size: 14px
      text-decoration: none

      +xs()
        width: 100%
        display: none
        font-size: 12px
      
      &:focus
        color #fedb60

      &.activeLink
        color #fedb60
        font-weight bold

        &:after
          content ''
          display: block
          position: absolute
          bottom -1px
          width: 0
          height: 0
          left 50%
          margin 0 0 0 -8px
          border 8px solid transparent
          border-bottom-color #fff

          +xs()
            display: none
          
      &.develop
        opacity .2
        cursor: not-allowed

    input
      position: absolute
      opacity 0

    label, input
      width: 100%
      display: none
      color #fff
      border-bottom 1px solid #555

      +xs()
        display: block

    input:checked ~ a
      display: block

      +xs()
        display: block

aside
  position: relative
  background #fff
  box-shadow 0px 6px 18px rgba(0,0,0,.08)

.links
  height: 100%

  a
    display: inline-block
    margin 0 2rem 0 0
    font-size 14px
    color #555
    transition box-shadow .4s ease
    box-shadow 0 0 0 tranparent inset
    
    &:after
      content ''
      position: absolute
      right -1rem
      top 1rem
      display: inline-block
      width: 1px
      height: 1rem
      background: #ccc

    &.activeLink
      font-weight bold
      box-shadow 0 -3px 0 #fedb60 inset

.newAd
  display: flex
  align-items: center
  justify-content: flex-end
  text-align: right
  color #db9316
  font-size 1rem
  font-weight 500
  padding 0 1.5rem
  
  &:hover
    background: #f5f5f5

  span
    text-decoration: none

  img
    margin-left 1rem


.Menu.inactive
  nav
    a::after
      display: none

  aside
    display: none