.button
  display inline-block
  border none
  border-radius 6px
  background #ededed
  color #323232
  font-weight 500
  font-size 1rem
  line-height 1.5rem * 2
  text-align center
  padding 0 1.5rem
  margin-right .5rem
  cursor pointer
  transition all .4s ease

  &:hover
    background #ddd

.activeButton
  @extend .button
  background #f6d672
  font-weight 500

  &:hover
    background #f6d672
    cursor default


.parameters
  display flex
  flex-wrap nowrap

  +xs()
    flex-wrap wrap

.paramGroup
  margin-right 1rem

  select
    display block
    font-size 1rem
    height 3rem
    margin .5rem 0
    padding 0 1rem
    border none
    border-radius 6px
    background #fff
    appearance none
    box-shadow 0 0 16px rgba(0,0,0,.09)

  textarea
    border 1px solid #dddddd
    border-radius 6px
    padding 1.5rem
    line-height 1.5
    font-size 1rem
    overflow hidden
    width 100%
    font-family inherit

  h3, h4, h5
    font-size 1rem
    margin 0
    line-height 1rem*3


.Step
  h1
    font-size 1.5rem
    color #323232
    line-height 3rem
    font-weight 400
    margin 0 0 1.5rem 0

  nav
    border-top 1px solid #eeeeee
    padding 1rem 0

    button
      @extend .button
      cursor pointer

      &:last-child
        @extend .activeButton
        font-weight bold
        font-size 16px
        background #ffc000

        &:hover
          background #fedb60
          cursor pointer

      &:disabled
        background #ddd
        color #666
        cursor not-allowed

        &:hover
          background #ddd
          cursor not-allowed

.formGroup
  width 30%
  margin-right 1.5rem
  position relative
  margin-bottom 1.5rem

  +xs()
    width 100%;
    margin-right 0

  &:nth-child(3n)
    margin-right 0

  label
    display block
    font-size 14px
    color #323232
    font-weight: 500
    line-height 2rem
    padding-left: 1rem

  input, select, textarea
    border 1px solid #dddddd
    border-radius 6px
    padding 0 3rem 0 1rem
    line-height 3rem
    font-size 16px
    overflow hidden
    width 100%

  textarea
    line-height 1.5
    font-family inherit
    padding 1rem

  select
    appearance none
    background #fff url(/img/icons/ddarrow.svg) no-repeat 95% center

  input + span
    display inline-block
    position absolute
    font-size 18px
    right 1rem
    padding 0
    line-height: 3rem;
    bottom 0
    
    
  button
    border none
    background #ffc000
    border-radius 6px
    padding 0 3rem 0 1rem
    line-height 1.5rem*2.5
    font-size 16px
    overflow hidden
    width 100%


.formGroupDesc
  @extends .formGroup
  width 100%
  margin-right 0

.formGroupHalf
  @extends .formGroup
  width:45%


.paramGroupList
.paramGroupList > div
  display flex
  align-items flex-start
  flex-wrap wrap




.step3content
  display flex
  align-items flex-start
  flex-wrap nowrap

  div
    width 100%

  .info
    min-width 60%
    margin-right 1.5rem*1.5

  .formGroup
    width 100%



.Map
  width 100%

.mapContainer
  width 100%
  height 35vh
  position relative
  cursor crosshair

  input
    z-index 500
    position absolute
    top 1rem
    left 1rem
    width 95%
    box-shadow 0 0 16px rgba(0,0,0,.09)
    right 1rem
    line-height 1.5rem*2
    padding 0 1.5rem
    background #ffffff
    border-radius 6px
    border none
    cursor default



.photos
  display block
  width 100%
  margin-bottom 1rem

  form
    display block
    width 100%

.photoList
  display flex
  align-items flex-start
  height 100px
  margin-bottom 1rem

  +xs()
    height auto;
    flex-wrap wrap

.photoItem
  margin 0 1rem 1rem 0
  border-radius 4px
  box-shadow 0 0 16px rgba(0,0,0,.09)
  line-height 0
  overflow hidden
  height 100%
  object-fit cover
  display flex
  align-items center
  justify-content center

  +xs()
    height 100px;

  span
    position absolute
    width 1.5rem
    height 1.5rem
    background #ffffff url(/img/icons/deletePhoto.svg) no-repeat center
    background-size 16px 16px
    border-radius 4px
    top 1rem
    right 1rem
    opacity .5
    transition all .4s ease
    cursor pointer
    z-index 100

    &:hover
      opacity 1

  img
    height 100%

    +xs()
      height 100px;

.addPhoto
  width 100%;
  display flex
  flex-direction column
  align-items center
  justify-content center
  min-height 100px
  border-radius 10px
  border 2px dashed #ddd
  transition all 0s .5s ease

  h3, span
    margin 0
    display block
    text-align center
    line-height 1.5rem*1.5
    font-size 16px
    color #323232

  span
    color #878787

  input
    display block
    width 100%
    height 100%
    position absolute
    top 0
    left 0
    opacity 0
    cursor pointer
    
  &.dragging
    background #cccccc
    transition all 0s ease

  &.uploading
    background #fff url(/img/loading.gif) no-repeat center;
    transition all 0s ease

    h3, span
      display none




.Auth
  margin 0 0 1.5rem

  p
    color: #222
    font-size 1rem
    line-height: 1.5rem;