:root
  font-size 16px

*
  box-sizing border-box
  position relative

  &:focus
    outline none

html
body
  margin 0
  padding 0
  width 100%
  height auto
  min-height 100vh
  background #fff
  font-family 'Ubuntu', 'Open Sans', 'Arial', sans-serif
  font-size 1rem
  overflow-x: hidden

h1
  font-size 3rem
  font-weight bold
  margin 4.5rem 0
  line-height: 3rem

  +xs()
    font-size 2rem
    line-height 2rem
    margin 2rem 0

ol
  list-style none
  margin 0
  padding 0


a, a:llnk, a:visited, a:active
  text-decoration: none

a:hover
  text-decoration: underline


form
  display: block

  input
  select
  textarea
    display: inline-block
    padding: unit
    border: 1px solid gray
    color: text-pale