.bookmarks
  margin 1.5rem 0

.bookmarksList
  border 1px solid #ddd
  background: #fff
  border-radius 6px
  width: 100%
  box-shadow 0 0 16px rgba(0,0,0,.09)


.newAd
  border-radius 6px
  box-shadow 0 0 16px rgba(0,0,0,.09)
  text-align: center
  line-height: 3rem
  background: #fff
  font-size 1rem
  color #db9316
  display: flex
  align-items: center
  justify-content: center
  cursor: pointer
  transition all .4s ease

  &:hover
    background: #fafafa
    box-shadow 0 4px 16px rgba(0,0,0,.15)

  span
    margin-right .5rem


.catList
  display: flex
  flex-direction: column
  align-items: stretch
  border-radius 6px
  border 1px solid #eeeeee
  box-shadow 0 0 1rem rgba(0,0,0,.09)
  overflow: hidden
  margin-top: 1.5rem

  a
    display: inline-block
    width: 100%
    text-decoration: none
    color #323232
    font-size 1rem
    padding 0 1rem
    line-height: 3rem
    border-bottom 1px solid #eee
    background: #fff
    transition all .3s ease

    &:hover
      background: #f5f5f5
      text-decoration: none

    &::last-child
      border-bottom none

    &.activeLink
      background: #ffc000
      color #111