.Breadcrumbs
  display: block
  padding 0 1.5rem
  line-height: 3rem

  nav
    display: block

    a
      display: inline-block
      color #db9316
      text-decoration: none
      font-size: 14px
      font-weight: 400

      &::after
        content '>'
        display: inline-block
        margin 0 .3rem
        color #666

      &:last-child::after
        display: none


    span
      display: inline-block
      color #444
      text-decoration: none
      font-size: 14px
      font-weight: 400