@keyframes fadeIn
  from
    opacity 0
  to
    opacity 1


.Placemark
  width 3rem !important
  height 4rem
  background transparent url(/img/icons/maplabel.svg) no-repeat center
  background-size: 3rem auto
  margin -4rem 0 0 -1.5rem
  animation fadeIn .6s ease-in
  z-index 9999

.Cluster
  width 4rem
  height 6rem
  background transparent url(/img/icons/mapgroup.svg) no-repeat center
  background-size: 4rem auto
  margin -4rem 0 0 -2.5rem
  animation fadeIn .6s ease-in

  span
    display: block
    width: 100%
    text-align: center
    position: absolute
    top: 28px
    left 0
    font-size 16px
    color #222222