.promo
  display: block
  border-radius 6px
  margin: 1.5rem 0
  padding: 0
  overflow: hidden
  background: transparent

  &__info
    background: #fff url('/img/promo-hand.jpg') no-repeat right bottom
    background-size: 6rem auto
    padding 1.5rem

    h3
      font-size 1.2rem
      line-height: 1.5rem
      color #342525
      margin: 0 0 2rem 0

    span
      font-size 1rem
      color #6e6969
      line-height: 1.5rem

  &__links
    display: flex
    align-items: stretch
    line-height: 3rem

    a
      display: flex
      background: #fedb60
      width: 100%
      align-items: center
      justify-content: center
      height: 3rem
      transition all .4s ease

      img
        max-width 100%

      &:last-child
        border-left 1px solid darken(#fedb60, 15%)

      &:hover
        background: darken(#fedb60, 15%)