.Create
  h2
    margin-top: 0

.innerTitle
  margin 0 0 1.5rem 0
  font-size 1.5rem
  line-height: 3rem
  border-bottom: 1px solid #eeeeee


.steps
  margin: 0 0 1.5rem 0
  padding: 0
  list-style none
  font-size 1rem
  overflow: hidden
  border-radius 8px
  box-shadow 0px 0px 16px rgba(0,0,0,.09)
  width: 100%;

  li
    line-height: 3rem
    border-bottom 1px solid #eee
    padding 0 1rem
    background #fff
    color #333
    opacity .7

    &::after
      content ''
      position absolute
      top 1rem
      right 1rem
      width 1rem
      height 1rem
      border-radius 50%
      background #eee

    &.active
      opacity 1

    &.active::after
      background green

    &:last-child
      border-bottom none

      &::after
        display none