.userAdActions
  display: block
  line-height: 0
  width: 7rem;

button()
  display: inline-block
  width: 1.5rem
  height: 1.5rem
  margin-left: 0.5rem
  cursor: pointer
  opacity .5
  transition all .4s ease

  &:hover
    opacity: 1
  
.delete
  button()
  background: transparent url('/img/icons/delete.svg') no-repeat center
  background-size: auto 16px

.edit
  button()
  background: transparent url('/img/icons/edit.svg') no-repeat center
  background-size: auto 16px

.switch
  button()
  width: 3rem
  margin 0
  background: #eee
  border: 1px solid #ddd
  border-radius 1.5rem

  &::after
    content: ''
    position: absolute
    display: inline-block
    left 0.2rem
    top 0.2rem
    width: 1rem
    height: 1rem
    background: red
    border-radius 50%
    box-shadow: 0 0 16px rgba(0,0,0,.1)
    transition all .4s ease
  
  &.active::after
    background: green
    left 100%
    margin: 0 0 0 -1.2rem;





.confirm
  position: absolute;
  width: 20rem;
  top: 2rem;
  right: 0;
  padding: 1rem;
  font-size: 0.8rem;
  color: #333;
  background: #fff;
  border-radius: 4px;
  line-height: 1.5;
  z-index: 999;
  box-shadow: 0 0 16px rgba(0,0,0,.09);

  span
    display: block
    margin-bottom 1rem

  button
    background: #ddd
    border none
    border-radius 4px
    margin-right 1rem
    padding 0 1rem
    line-height: 1.5rem;

    &:hover
      background:#bbb;

    &:nth-child(2)
      background: #900;
      color: #fff

      &:hover
        background: #c00;

