.AdsList
  display: block
  background: #f9f8f4

  &.fixed
    padding-top 96px

    +xs()
      padding-top 0

.adsActions
  margin-top 1.5rem

  select
    position: relative
    display: block
    width: 100%
    padding 1rem 1.5rem 1rem 1rem
    background: #fff url(/img/icons/ddarrow.svg) no-repeat 95% center
    border 1px solid #dddddd
    border-radius 4px
    box-shadow 0 0 16px rgba(0,0,0,.09)
    font-size 1rem
    color #323232
    -webkit-appearance: none
    -moz-appearance: none
    appearance: none
    cursor: pointer
    font-weight bold


.search
  position: relative
  opacity .3
  cursor: not-allowed

  +xs()
    display: none

  button
    position: absolute
    top: .45rem
    right .4rem
    border none
    background: #eee
    text-align: center
    color #323232
    border-radius 2px
    padding .7rem 1rem
    font-weight bold
    cursor: not-allowed

  input[type="text"]
    position: relative
    display: block
    width: 100%
    padding 1rem 3rem
    background: #fff url(/img/icons/search.svg) no-repeat 3% center
    border 1px solid #dddddd
    border-radius 4px
    box-shadow 0 0 16px rgba(0,0,0,.09)
    font-size 1rem
    color #323232
    cursor: not-allowed



.info
  display: flex
  align-items: center
  height: 1.5rem
  justify-content: space-between
  font-size 1rem

  h4
    display: inline-block
    vertical-align: middle
    margin: 0
    font-weight 100

  span
    display: inline-block
    vertical-align: middle
    font-size 14px
    color #616161
    cursor: pointer
    transition all .4s ease
    &:hover
      color #333333



.listContainer
  border 1px solid #ddd
  background: #fff
  border-radius 6px
  width: 100%

.develop
  font-size 1.5rem
  line-height: 3rem
  font-weight bold
  color #aaa
  padding 1.5rem
