.wrapper
  position: relative
  height 100vh
  display flex
  flex-direction: column
  justify-content: space-beetwen
  align-items: stretch
  background transparent url('/img/main-bg.png') no-repeat right top

.mainContent
  flex: 0 1 100%
  background: #fff;


