.topline
  padding .5rem 0
  line-height 1.5rem


.logo
  display: flex
  align-items: flex-end
  justify-content: space-between
  
  > a
    position relative
    left -16px

    +xs()
      left 0

.location
  display block
  width 100%
  margin-left: 16px

  +xs()
    margin-left 32px
    text-align: right

  &:after
    content ''
    display: block
    position: absolute
    left -16px
    top: -2px
    width 1px
    background: #ccc
    height 100%

    +xs()
      display: none

  span
    display block
    font-size 16px
    line-height 1

    +xs()
      font-size 14px
    
  a
    color #a5a5a5
    font-size 12px
    line-height 1
    text-decoration: none

    &:hover
      color #333
      text-decoration: underline



.citySelect
  border none
  padding: .2rem 0
  background: transparent;
  font-size: 14px
  cursor: pointer
  color: #db9316
  border-bottom 1px solid transparent

  &:hover
    border-bottom 1px solid #db9316