.AuthForm
  display: inline-flex
  align-items: flex-start

  +xs()
    display: block
    width: 100%

  input
    display: inline-block
    padding 0 .5rem 0 1rem
    border: 1px solid #ddd
    border-right: none
    border-radius 3rem 0 0 3rem
    line-height: calc(2rem - 2px)
    font-size 14px;
    color #333
    margin-right 0
    border-right 0
    position: relative
    top: 1px

    &:nth-child(2)
      border-radius: 0

    +xs()
      display: block
      width: 100%

  button
    background: #ffc000
    color #111
    border none
    border-radius: 0 3rem 3rem 0
    margin: 0
    line-height: 2rem
    padding 0 .5rem
    cursor: pointer
    transition all .4s ease
    font-weight bold
    top: 1px

    +xs()
      display: block
      width: 100%

    &:hover
    &:focus
      background: #db9316

.fetching
  opacity: .5