.InputRange-slider {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: #fedb60;
  border: 1px solid #fedb60;
  border-radius: 100%;
  cursor: pointer;
  display: block;
  height: 1rem;
  margin-left: -0.5rem;
  margin-top: -0.65rem;
  outline: none;
  position: absolute;
  top: 50%;
  width: 1rem; }
.InputRange-slider:active {
  -webkit-transform: scale(1.3);
  transform: scale(1.3); }
.InputRange-slider:focus {
  box-shadow: 0 0 0 5px rgba(63, 81, 181, 0.2); }
.InputRange.is-disabled .InputRange-slider {
  background: #cccccc;
  border: 1px solid #cccccc;
  box-shadow: none;
  -webkit-transform: none;
  transform: none; }

.InputRange-label {
  color: transparent;
  font-family: inherit, sans-serif;
  font-size: 0.8rem;
  white-space: nowrap; }

.InputRange-label--min,
.InputRange-label--max {
  bottom: -1.4rem;
  position: absolute; }

.InputRange-label--min {
  left: 0; }

.InputRange-label--max {
  right: 0; }

.InputRange-label--value {
  position: absolute;
  top: -1.8rem; }

.InputRange-labelContainer {
  position: relative; }
.InputRange-label--max .InputRange-labelContainer {  }

.InputRange-track {
  background: #eeeeee;
  border-radius: 0.3rem;
  cursor: pointer;
  display: block;
  height: 0.3rem;
  position: relative;
}
.InputRange.is-disabled .InputRange-track {
  background: #eeeeee; }

.InputRange-track--container {
  left: 0;
  margin-top: -0.15rem;
  position: absolute;
  right: 0;
  top: 50%; }

.InputRange-track--active {
  background: #fedb60; }

.InputRange {
  height: 1rem;
  position: relative;
  width: 92%;
  margin: 0 auto
}