.FilterRange
  margin-bottom 1.5rem

.rangeInputs
  display: flex
  align-items: center
  justify-content space-between
  margin-top .5rem

  input
    line-height: 2rem
    border 1px solid #ddd
    border-radius 4px
    display: inline-block
    width: 45%
    padding 0 0 0 .5rem
    font-size 16px